
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movies</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Shrek!</td>
        </tr>
        <tr>
            <td>An angel at my table</td>
        </tr>
    </tbody>
</table>