
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customer</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>John Williams</td>
        </tr>
        <tr>
            <td>Lisa Goedgetierde</td>
        </tr>
    </tbody>
</table>